extends layout

block content
    section.container
        a(href="javascript:void(0)" class='button clearAllButton')  清空当前页
        br
        br
        a(href="javascript:void(0)" class='button flushAllButton')  刷新

        a(href="javascript:void(0)" class='button allFailedFlush')  刷新失败

        div(id="printView")
            ul
                each index1 in content
                    p #{index1.content}

        button(id="printViewDis" class="btn") 关闭

        section(class="panel printImg" style="display: none;")
            header(class="panel-heading") 本地图片
            div(class="panel-body" id="printImgBox1")

        ul.home.post-list(id="viewer")
            each index in content
                div(class="tab-h2")
                    p(size="6",font-family:"STKaiti" class="tab-p contentDis")
                    font(size="3",font-family:"STKaiti" hidden class="content") #{index.content}
                    br
                    a(href="javascript:void(0)" class='btn submitButton')  #{index.filename}
                    a(href="javascript:void(0)" class='btn deleteButton')  删除
                    p(class='ids') #{index._id}
                    if index.isMp3
                        audio(src="mp3_download?id=#{index._id}" name='#{index.filename}' controls ) #{index.filename}

                    unless index.isMp3
                        div(class="tab-h2")
                            p(class="tab-p contentvoice") #{index.content}
                            a(href="javascript:void(0)" class='btn voiceMp3Failed') 朗读本段
                            p(size="6" class="tab-p contentDis")
                            a(href="javascript:void(0)" class='btn retryTranslate') 再次翻译

                    br
                    if index.fileImgPathId
                        img(src='mp3_download?id=#{index.fileImgPathId}')



                    br
        a(href="javascript:void(0)" class='button clearAllButton')  清空当前页
        ul.pagination( id="pagination")
block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/sound-img.js')
    script(type="text/javascript" src='/print/html2canvas.min.js')
    script(type="text/javascript" src='/print/jquery.jqprint-0.3.js')
    script(type="text/javascript" src='/print/jquery-migrate-1.2.1.min.js')