extends layout



block content
    - var spdSelect = {"慢":"1","稍慢":"2","正常":"3","快":"4","加快":"5"}
    - var speechSpdSelect = {"慢":"0.8","稍慢":"0.9","正常":"1","快":"1.1","加快":"1.2"}
    - var perSelect = {"女声":"0","男声":"1","度逍遥":"3","度丫丫":"4"}
    h1= title
    p now you use #{title}
    select.selectpicker(class="myselectionspd")
        each name,key in spdSelect
            option(value="#{name}") #{key}

    select.selectpicker(class="myselectionper")
        each name,key in perSelect
            option(value="#{name}") #{key}
    br
    textarea(style="width:800px;height:400px;" class="upload-content")
    br
    a(href="javascript:void(0)" class='btn submitButton') 提交
    br
    a(href="javascript:void(0)" class='btn translateButton') 翻译导出
    br
    select.selectpicker(id="speechSpdId")
        each name,key in speechSpdSelect
            option(value="#{name}") #{key}
    br
    a(href="javascript:void(0)" class='btn voiceButton') 朗读
    br
    br
    div
        font(size="6" id="contentDis")
    br
    br
    select.selectpicker(id="myFilespd" onchange="myFileSpdChange()")
        each name,key in spdSelect
            option(value="#{name}") #{key}
    input(type="file" id="input-id" class="file")
    br
    input(type="file" id="fileId")
    a(href="javascript:void(0)" class='btn uploadFileButton') 上传文件-转储成 翻译后文件
block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/md5.js')
    script(type="text/javascript" src='/js/business/sound/sound-upload.js')
