extends layout

block content
    section.container
        a(href="javascript:void(0)" class='button clearAllButton')  清空当前页
        br
        br
        a(href="javascript:void(0)" class='button flushAllButton')  刷新

        ul.home.post-list
            each index in content
                div
                    font(size="6",font-family:"STKaiti" class="contentDis")
                    font(size="3",font-family:"STKaiti" hidden class="content") #{index.content}
                    br
                    a(href="javascript:void(0)" class='button submitButton')  #{index.filename}
                    a(href="javascript:void(0)" class='button deleteButton')  删除
                    p(class='ids') #{index._id}
                    if index.filename
                        audio(src="mp3_download?id=#{index._id}" name='#{index.filename}' controls ) #{index.filename}
                    br
                    if index.fileImgPathId
                        a(href="javascript:void(0)" class='button left')  左翻转
                        a(href="javascript:void(0)" class='button right')  右翻转
                        a(href="javascript:void(0)" class='button vertical')  翻转
                        a(href="javascript:void(0)" class='button origin')  复原
                        br
                        br
                        br
                        img(class="imgCamera" src='mp3_download?id=#{index.fileImgPathId}' onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onmouseout="this.style.cursor='default'"   onclick="javascript:showimage('mp3_download?id=#{index.fileImgPathId}');")

                        div(id="ShowImage_Form" class="modal hide")
                            div.modal-header
                                button(class="close" data-dismiss="modal" type="button")
                            div.modal-body
                            div(id="img_show")

                    br

        ul.pagination( id="pagination")
block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type="text/javascript" src='/js/business/sound/sound-download.js')