extends layout

block content
    - var audioSpdSelect = {"正常":"1","慢":"0.8","稍慢":"0.9","快":"1.1","加快":"1.2","灰常快":"1.5","超级快":"2"}
    - var fontColor = {"黒":"#000000","赤":"#EF5F61","橙色":"#F19F48","黄":"#F1E723","绿":"#57F131","青":"#08F15C","蓝":"#37F1BD","紫":"#7F77F1","白":"#FFFFFF"}
    - var backgroundColor = {"墨绿":"#49998D","绿":"#a3f178","赤":"#ef6b74","橙色":"#f19b6d","黄":"#F1EB3F","青":"#23F18C","蓝":"#3F7CF1","紫":"#7220F1","黒":"#000000","白":"#FFFFFF"}
    section.container
        //div(id="firstmodal" class="modal container fade" tabitem="-1")
        //    div(class="modal-header")
        //        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
        //        h4(class="modal-title") 第一层模态窗口
        //
        //    div(class="modal-body")
        //        p TESTTESTTETSTET
        div(class="modal fade bs-example-modal-lg" id="myModal" tabitem="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
                        p(class="modal-title" id="myModalLabel") 实时
                        select.selectpicker(id="fontColorId" onchange="fontColorChange1()")
                            each name,key in fontColor
                                option(value="#{name}") #{key}
                        select.selectpicker(id="backgroundColorId" onchange="backgroundColorChange1()")
                            each name,key in backgroundColor
                                option(value="#{name}") #{key}
                    div(class="modal-body" id="contentDiv" style="overflow:auto; height: 350px; width: 100%; border: 1px solid #999;background:#49998D;" )
                        font(size="6" id="contentModalDis") 在这里添加一些文本
                    div(class="modal-footer")
                        button(type="button" class="btn" id="pauseAudio") 暂停
                        button(type="button" class="btn" id="resumeAudio") 恢复
                        button(type="button" class="btn btn-default" data-dismiss="modal") 关闭

                        //button(type="button" class="btn btn-primary")提交更改


        select.selectpicker(id="audioSpeedId" )
            each name,key in audioSpdSelect
                option(value="#{name}") #{key}
        br
        a(href="javascript:void(0)" class='button clearAllButton')  清空当前页
        br
        br
        a(href="javascript:void(0)" class='button flushAllButton')  刷新

        a(href="javascript:void(0)" class='button allFailedFlush')  刷新失败



        ul.home.post-list
            each item,index in content
                div(class="tab-h2")
                    p(size="6"  class="tab-p contentDis")
                    font(size="3",font-family:"STKaiti" hidden class="content") #{item.content}
                    br
                    a(href="javascript:void(0)" class='btn submitButton')  #{item.filename}
                    p(class='ids') #{item._id}
                    br
                    button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") 查看朗读内容
                    br
                    if item.isMp3
                        if index == 0
                            audio(src="mp3_download?id=#{item._id}" name='#{item.filename}' id="audioindex-#{index}" controls autoplay="autoplay") #{item.filename}
                        unless index == 0
                            audio(src="mp3_download?id=#{item._id}" name='#{item.filename}' id="audioindex-#{index}" controls ) #{item.filename}

                    unless item.isMp3
                        div(class="tab-h2")
                            p(class="tab-p contentvoice") #{item.content}
                            a(href="javascript:void(0)" class='btn voiceMp3Failed') 朗读本段
                            p(size="6" class="tab-p contentDis")
                            a(href="javascript:void(0)" class='btn retryTranslate') 再次翻译
                            br
                            br

                            br
                            br
                            #{item.filename}
                    a(href="javascript:void(0)" class='btn deleteButton')  删除
                    if item.fileImgPathId
                        a(href="javascript:void(0)" class='btn left')  左翻转
                        a(href="javascript:void(0)" class='btn right')  右翻转
                        a(href="javascript:void(0)" class='btn vertical')  翻转
                        a(href="javascript:void(0)" class='btn origin')  复原
                        br
                        br
                        br
                        img(class="imgCamera" src='mp3_download?id=#{item.fileImgPathId}' onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onmouseout="this.style.cursor='default'"   onclick="javascript:showimage('mp3_download?id=#{item.fileImgPathId}');")
                        div(id="ShowImage_Form" class="modal hide")
                            div.modal-header
                                button(class="close" data-dismiss="modal" type="button")
                            div.modal-body
                            div(id="img_show")
            a(href="javascript:void(0)" class='button clearAllButton')  清空当前页
        ul.pagination( id="pagination")
block append scripts
    //script(type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript" src='/js/business/sound/sound-download.js')